<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16867435402-a1apvjasufo2jh6e58pnvac4hp11sk0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16867435402-a1apvjasufo2jh6e58pnvac4hp11sk0k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>16867435402-715mhiia70pc78qhf238b6uljpdlq8cb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdZ0nEcarVhCk38difFPIibsNZYz7WOro</string>
	<key>GCM_SENDER_ID</key>
	<string>16867435402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nemowallet.mobile</string>
	<key>PROJECT_ID</key>
	<string>nemoverse-bdd67</string>
	<key>STORAGE_BUCKET</key>
	<string>nemoverse-bdd67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16867435402:ios:773cf34251c2d21b1b9e73</string>
</dict>
</plist>